*{
  margin: 0;
  padding: 0;
}

/* charcoal black: #262626 */
/* off-white: #f1f1f1 */

body{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.header{
  background-color: #262626;
}

.ribboncontainer{
  display: grid;
  grid-template-columns: 1fr 70% 1fr 1fr;
  align-content: center;
  gap: 1rem;
  height:45px;
}

.ribboncontainer h1 {
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
}

.button {
  margin-right: 10px;
  box-sizing: border-box;
  text-decoration: none;
  width: 125px;
}

.buttonText {
  color: #262626;
}

.buttonText:hover {
  font-weight: bold;
  cursor: pointer;
}

.signup {
  background-color: white;
  border:none;
  padding: 3px 18px;
  height:20px;
  color: #262626;
  margin-top: 8px;
}

.login{
  background-color: #f1f1f1;
  align-self: center;
  border:none;
  width: 100px;
  padding: 5px 10px;
  height:22px;
  color: #262626;
}

.login:hover {
  font-weight: bold;
  color: #262626;
  cursor: pointer;
}

.signuppage{
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupbox{
  display: flex;
  gap:1.3rem;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  background-color: white;
}

.loginpage{
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginbox{
  display: flex;
  gap:1.3rem;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  background-color: white;
}

.form{
  position: relative;
  width: 80%;
  align-self: center;
  padding: 0.5rem;
  border-width: 0px;
  background-color: #f1f1f1;
}

input[type=text]:focus {
  outline: 1px solid #262626;
}

.wunderpuss{
  height: 20rem;
  width: 25rem;
  position: relative;
  top: 1rem;
  left: 2.5rem;
}

.search {
  background-color: #f1f1f1;
  border-width: 0px;
  width: 80px;
  color:#262626;
  height: 2em;
  margin-left: 5px;
}

.search:hover {
  font-weight: bold;
  cursor: pointer;
}

.search[type=submit]:focus {
  outline: 1px solid #262626;
}

.resultsButton {
  background-color: #f1f1f1;
  border-color:#262626;
  border-width: 1px;
  width: 150px;
  color:#262626;
  height: 2em;
}

.resultsButton:hover {
  font-weight: bold;  
  cursor: pointer;
}

.resultsButton[type=submit]:focus {
  outline: none;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ribboncontainer h1 {
  font-size: 25px;
}

.ribboncontainer h2 {
  font-size: 25px;
}

.usertext {
  height : 32px;
  margin-top:4px;
}

.classtext {
  height : 32px;
  margin-top:4px;
}  

#searchvalues {
  border-width: 0px;
  background-color: #f1f1f1;
  padding-left: 5px;
}

input[type=text]:focus {
  outline: 1px solid #262626;
}

.searchcontainer {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;    
}

#searchvalues {
  height: 2em;
  width:25em;    
}

.title {
  display:flex;
  justify-content: center;
  align-content: center;
  font-size:40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.searchresults {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15em;
  margin-right: 15em;
  margin-top:2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-direction: column;  
}

.table {
  background-color: #f1f1f1;
  padding: 2em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 10px;
}

.individualResults {
  background-color: #f1f1f1;
  border-width: 1px;
  max-height:500px;
}

.custom-json-pretty {
  background-color: white;
  max-height: 450px;
  white-space: pre-wrap;
  overflow-y: scroll;
}
